:host>div {
    text-align: center;
}

.busqueda {
    border-top: 1px dashed #2199e8;
    margin-top: 18px;
    padding-top: 28px;
}

.filtros {
    border-bottom: 1px dashed #2199e8;
    margin-bottom: 48px;
    padding-bottom: 48px;
}

.icono {
    text-size: 90px;
}
